body{
  margin:0;
  padding:0;
  box-sizing:border-box;
  width: 100%;
}
.admin-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

.admin-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.admin-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
